.team-match-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.rcb {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
}

.kkr {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
}

.kxp {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
}

.csk {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
}

.rr {
  background-image: linear-gradient(to bottom, #da237b, #1e293b);
}

.mi {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
}

.srh {
  background-image: linear-gradient(to bottom, #f26d22, #1e293b);
}

.dc {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
}

.responsive-container {
  width: 85%;
  margin: 40px 0px 0px 0px;
}

.team-banner-image {
  width: 100%;
}

.match-cards-container {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
  margin: 24px 0px 0px 0px;
}

@media screen and (min-width: 768px) {
  .match-cards-container {
    margin: 32px 0px 0px 0px;
  }
}
